@model ProyectoMvc.Models.Bitacora

@{
    var titulo = "Crear Bitacora";
}

<form method="post">
    <div class="row p-3 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @if (Model.Id != 0)
        {
            titulo = "Editar Bitacora";
        }

        <div class="col-12 border-bottom">
            <h2 class="text-primary">@titulo</h2>
        </div>
        <div class="col-8 pt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Nino"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Nino" class="form-control" />
                    <span asp-validation-for="Nino" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Empleado"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Empleado" class="form-control" />
                    <span asp-validation-for="Empleado" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Encargado"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Encargado" class="form-control" />
                    <span asp-validation-for="Encargado" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Entrada"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Entrada" class="form-control" />
                    <span asp-validation-for="Entrada" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Salida"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Salida" class="form-control" />
                    <span asp-validation-for="Salida" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Motivo"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Motivo" class="form-control" />
                    <span asp-validation-for="Motivo" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-4">
                    @if (Model.Id != 0)
                    {
                        <partial name="~/Views/Shared/_BotonesActualizarRegresar.cshtml" model="Model.Id" />
                    }
                    else
                    {
                        <partial name="~/Views/Shared/_BotonesCrearRegresar.cshtml" />
                    }
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}